@page "/EnlacesInteres"

<div class="container">


    <div class="list-group ">
        <ul class="list-group">
            <li class="list-group-item active text-center"><h5>Enlaces de interés</h5></li>
        </ul>
        <a target="_blank" href="http://www.fredolsen.es" class="list-group-item list-group-item-action" style="color:blue">Fred Olsen - Compra tu billete online</a>
        <a target="_blank" href="http://consola1.fredolsen.es" class="list-group-item list-group-item-action" style="color:blue">Cliente de Reservas Bravo</a>
        <a target="_blank" href="https://berman.portel.es/aplicaciones/Due_def/index.asp" class="list-group-item list-group-item-action" style="color:blue">DUEWEB - Portel</a>
        <a target="_blank" href="https://dueport.puertos.es" class="list-group-item list-group-item-action" style="color:blue">DUEPORT - Puertos del Estado</a>
        <a target="_blank" href="http://www.puertosdetenerife.org" class="list-group-item list-group-item-action" style="color:blue">Puertos de S/C de Tenerife</a>
        <a target="_blank" href="http://www.palmasport.es" class="list-group-item list-group-item-action" style="color:blue">Puertos de Las Palmas</a>
         <a target="_blank" href="https://puertoscanarios.es/" class="list-group-item list-group-item-action" style="color:blue">Puertos Canarios</a>
        <a href="mailto:soporte@fredolsen.es" class="list-group-item" style="color:blue">Soporte informática de Fred Olsen, S.A.</a>
    </div>

</div>